@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap");
body {
  background: linear-gradient(128deg, #505050, #383838 100%);
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
}
body,
html {
  height: 100vh;
}
.content {
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 100px 1fr;
  height: 100%;
}
.sidebar {
  border-right: 1px solid #5e5e5e;
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar__button {
  display: block;
  width: 100%;
  height: 100px;
  background-color: #383838;
  border: none;
  background-image: url(img/menu.svg);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center center;
}
.sidebar__list {
  list-style: none;
  margin-bottom: 60px;
  padding-left: 0;
}
.sidebar__item {
  margin-top: 45px;
}
.sidebar__link {
  display: block;
  width: 50px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  background-size: cover;
}
.content__html {
  background-image: url(img/html.png);
}
.content__css {
  background-image: url(img/css.png);
}
.content__js {
  background-image: url(img/js.png);
}
.content-header {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;
  padding-left: 60px;
}
.content-header__logo {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}
.content-header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.content-header__item {
  margin-left: 50px;
}
.content-header__link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.content-header__link.walet {
  background-image: url(img/menu.svg);
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-main {
  grid-column: 2/3;
  grid-row: 2/3;
	background-image: url(img/images.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.swiper {
  height: calc(100vh - 100px);
}
.swiper-wrapper {
  position: inherit;
}
.swiper__body {
  width: 500px;
  flex-basis: 500px;
  display: flex;
  right: 0;
  position: absolute;
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: inherit;
  left: 60px;
	top: 150px;
  position: absolute;
  width: 200px;
  flex-basis: 200px;
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin-top: 20px;
	margin-bottom: 20px;
}
.swiper-pagination-bullet-active {
  background: transparent;
}
.swiper-pagination-bullet {
  background: transparent;
  height: inherit;
  width: inherit;
  text-align: left;
  font-size: 25px;
  color: #fff;
}
.swiper__footer {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
	background: #383838;
	backdrop-filter: blur(50px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}
.swiper__info {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto 1fr;
  gap: 5%;
	flex-basis: calc(100% - 300px);
	padding-left: 60px;
}
.first__info {
  grid-column: 1/6;
	grid-row: 1/2;
}
.swiper__img {
  width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
}
.swiper-cover__img {
  width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}
